// Date Picker
.ui-datepicker {
  background: white;
  display: none;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  font: normal 12px 'Open Sans', Helvetica, Arial, sans-serif;
  padding: $gap-half-px;
  text-align: center;
  z-index: 101 !important;
}
.ui-datepicker a {
  color: #404040;
}
.ui-datepicker-header {
  position: relative;
  margin: (-$gap-half-px) (-$gap-half-px) $gap-half-px;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 14px;
  line-height: 27px;
}
.ui-datepicker-prev, 
.ui-datepicker-next {
  position: absolute;
  top: 0;
  display: block;
  width: 47px;
  height: 47px;
  font-size: 15px;
  line-height: 47px;
  text-decoration: none;
  cursor: pointer;

  span {
    &:hover,
    &:active {
      color: $primary-dark;
    }
  }
}
.ui-datepicker-prev {
  left: 0;
}
.ui-datepicker-next {
  right: 0;
}
.ui-datepicker-calendar {
  border-collapse: collapse;
  font-size: 13px;
  line-height: 27px;
}
.ui-datepicker-calendar th {
  color: #999;
}
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
  display: block;
  width: 31px;
  margin: auto;
  text-decoration: none;
  color: #404040;
  font-weight: normal;
}
.ui-datepicker-calendar a:hover {
  background: rgba(0,0,0,.05);  
  color: $primary-dark;
  font-weight: bold;
}
.ui-datepicker-calendar span {
  color: #bfbfbf;
}
.ui-datepicker-today a {
  font-weight: 700;
}
.ui-datepicker-calendar .ui-state-active {
  background: rgba(0,0,0,.05);
  cursor: default;  
}
.ui-datepicker-inline {
  border: 2px solid #e5e5e5;
  background: #fff;
  box-shadow: none;
}
.ui-datepicker-inline .ui-datepicker-header {
  line-height: 47px;
}
.ui-datepicker-inline .ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-current-day {
  background: $primary;
  
  a {
    color: white;
    font-weight: bold;
  }
}