.beep-ground {
  background: black;
  clear: both; 
  padding: $gap-large-px;
  position: relative;
  z-index: 10;
  
  .copyright {
    color: $text-subtle;
    font: 13px "Open Sans", Helvetica, Arial, sans-serif;
    float: right;
    text-align: right;
  }

  .static-links {
    display: inline-block;

    ul {
      margin-bottom: 0;

      li {
        display: inline-block;
      }
      a {
        color: $text-subtle;
        font: 13px "Open Sans", Helvetica, Arial, sans-serif;
        margin: 0 $gap-half-px;

        &:hover {
          color: white;
        }
      }
    }
  }
}