#page-header {
	position: relative;
	z-index: 10;

	.beeparide-logo {
		background: url($ic_beep-logo-2) no-repeat;
		display: block;
		height: 56px;
		margin-top: 12px;
		position: absolute;
		width: 170px;
	}

	// Social Block 
	.social-block {
		background: $bg-social-block;
		height: 36px;
		overflow: hidden;

		a {
			font-size: 0px;
			text-indent: -9999px;
			overflow: hidden;
			height: 14px;
	    width: 14px;
		}
	}

}

// Header Block
.header-block {
	background: white;
	box-shadow: 0px 3px 3px -3px rgba(0,0,0, 0.16);
	height: 68px;

	.header-nav {
		float: right;
	}
	ul {
		li {
			border-top: 2px solid transparent;
			display: inline-block;

			&:last-child {
				border-right: none;
			}

			&:hover {
				border-top: 2px solid $primary;
			}
		}
		a {
			@include border-radius(3px);
			color: $primary;
			display: block; 
			font: 600 13px "Raleway";
			margin-top: 12px;
			padding: 10px;
			text-transform: uppercase;

			&:hover {
				color: $tertiary;
			}
		}

		// Dropdown links
		.open {
			.dropdown-menu {
				border-radius: 0 0 3px 3px;
				margin-top: 19px;
				padding: 0;
			}
			@-moz-document url-prefix() { 
				.dropdown-menu {
					margin-top: 18px;
				}
			}

			&.btn-group {
				i {
					background: $primary;
					color: white;
				}
			}
		}
		li.nav-dropdown {
				border: none;
			&:hover {
				border: none;
			}
		}
		.btn-group {
			i {
				@include border-radius(3px);
				border: 1px solid $primary;
				color: $primary;
				display: block;
				font: 600 13px "Raleway";
				margin-top: 12px;
				padding: 10px;

				&:after { 
					margin-left: 8px;
				}
			}
			.dropdown-menu {
				border-top: none;
				padding: $gap-half-px 0;
			}
			a.dropdown-item {
				color: $primary;
				font: 13px "Open Sans", Helvetica, Arial, sans-serif;
				margin-top: 0;
				padding: $gap-half-px $gap-px;
				text-transform: capitalize;
			}
		}

		.beep-login {
			margin-left: 1em;

			&:hover {
				border-top: 2px solid transparent;
			}

			a {
				background: $primary;
				border: 1px solid transparent;
				color: white;

				&:hover {
					background: $primary-dark;
					color: white; 
				}

			}
		}
	}
}

