.page-title {
	color: $primary;
	font: 300 24px 'Roboto', sans-serif;
}
.page-body {
	margin: ($gap-large * 3) auto;
}

//page with single content body
.page-1col {
  @include border-radius(3px);
  @include add-shadow(.2);
  background: white;
}

//page with left and right contents
.page-2col-left-main {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;

  .page-col-left {
    //background: white;
    flex-grow: 1;
    float: left;
    margin: 0px ($gap-large * 2) 0px 0px ;
    //overflow: hidden;
    //width: $col-2-main-left-width;
  }

  .page-col-right{
    //@include add-shadow(.2); 
    //background: white;
    min-height: 190px;
    //padding: $gap;
    min-width: 250px;
  }
}

.content-2col {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;

  .cont-col-left {
    //@include add-shadow(.2);
    //background: white;
    flex-grow: 1;
    float: left;
    margin: 0px $gap-large 0px 0px ;
    position: relative;
    //width: 150px;
  }

  .cont-col-right{
    //@include add-shadow(.2); 
    //background: white;
    min-height: 190px;
    padding: $gap;
    position: relative;
    //min-width: 250px;
  }
}