.social-nav {
	@include social-icons();

	ul {
		text-align: right;

		li {
			border-left: 1px solid rgba(255,255,255, .1);
			display: inline-block;
			max-height: 36px;
			margin: 0 -2px; 
			overflow: hidden;
			padding: 9px 10px;

			&:last-child {
				border-right: 1px solid rgba(255,255,255, .1);
			}

			&:hover {
				background: $primary;
			}

			a {
				margin-top: 2px;
			}
		}
	}
}