<section class="profile-general-info">
  <div class="content-2col">
    <div class="cont-col-left">

      <div class="profile-pic">
        <%=image_tag avatar_url(current_user), alt: "current_user.profile.full_name", class: "profile-avatar"%>
      </div>

      <label class="user-name">
        <% if current_user.profile.first_name? %>
          <%= current_user.profile.first_name %>
        <% else %>
          <span class="user-full-name"><%= current_user.profile.full_name %></span>
        <% end %>

      </label>

    </div>
    <div class="cont-col-right">
      
      <%= render file: 'profiles/show' %>

      <%# render file: 'profiles/attachments' %>

    </div>
  </div>

</section>


<!-- <div class="profiles-container">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profiles-tab-menu">
    <div class="profiles-avatar">
    	<%#=image_tag avatar_url(current_user)%>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active text-center">
        Personal Info
      </a>
      <a href="#" class="list-group-item text-center">
        Attachments
      </a>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 profiles-tab sky-form" novalidate="novalidate">
    <div class="profiles-tab-content active">
			<%= render file: 'profiles/show' %>
    </div>
    <div class="profiles-tab-content">
      <%= render file: 'profiles/attachments' %>
    </div>
  </div>
</div> -->

<!-- <style>
div.profiles-container .sky-form {
  max-width: none;
  box-shadow: 0 0 0;
}
div.profiles-avatar {
	background: #000;
  padding: 50%;
}
div.profiles-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.profiles-tab-menu div.list-group{
  margin-bottom: 0;
}
div.profiles-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.profiles-tab-menu div.list-group>a .glyphicon,
div.profiles-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.profiles-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.profiles-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.profiles-tab-menu div.list-group>a.active,
div.profiles-tab-menu div.list-group>a.active .glyphicon,
div.profiles-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.profiles-tab-content{
  background-color: #ffffff;
}

div.profiles-tab div.profiles-tab-content:not(.active){
  display: none;
}
</style> -->