<section class="profile_notice profile_incomplete">
	<i class="profile-icon"></i>
	<h2>
		<span class="profile-percent">
			20%
		</span> 
		<span class="profile-percent-message">
			profile completion
		</span>
	</h2>
	<p>Please submit the remaining requirements. </p>
</section>

<section class="profile_notice">
	Notice
</section>