<%= form_for(current_user, url: "/users/profile"+"/#{:id}", html: { method: 'put'}, remote: true) do |f| %>

  <%= f.fields_for(current_user.profile) do |p| %>
    <fieldset>
      <div class="form-group">
        <label>First Name</label>
        <span> <%= p.text_field(:first_name, { :placeholder => 'First Name', class: 'capitalize' }) %> </span>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <span> <%= p.text_field(:last_name, { :placeholder => 'Last Name', class: 'capitalize' }) %> </span>
      </div>
      <div class="form-group">
        <label class="va-top">Address</label>
        <span> <%= p.text_area(:address, { :placeholder => 'Address' }) %> </span>
      </div>
      <div class="form-group">
        <label>Birthdate</label>
        <span class="beep-date"> <%= p.date_select :date_of_birth, { :order => [:day, :month, :year], :prompt => { day: 'Day', month: 'Month', year: 'Year' }, with_css_classes: true, start_year: Date.today.year - 100, end_year: Date.today.year}, {:class => "col-sm-3"} %> </span>
      </div>
      <div class="form-group">
        <label>Contact Number</label>
        <span> <%= p.text_field(:phone_number, { :placeholder => 'Phone Number' }) %> </span>
      </div>
      <div class="form-group">
        <label>Email</label>
        <span> <%= f.email_field :email, disabled: true %> </span>
      </div>
      <div class="form-group">
        <label>Referal Code</label>
        <span> <%= p.text_field(:referral_code, { :placeholder => 'Referral Code', class: 'capitalize' }) %> </span>
      </div>

    </fieldset>

    <footer class="form-actions">
      <%= f.submit "Save Changes", class: 'btn_save btn' %>
      <button class="btn_cancel btn">Cancel</button>
    </footer>
         
  <% end %>

<% end %>

