<section class="attachments">
  <header class="top-control">
    Attachments
  </header>
    <ul class="attachment-tab">
      <li><a href="#" class="active">Renter</a></li>
      <li><a href="#" class="">Car Owner</a></li>
      <li><a href="#" class="">Driver</a></li>
    </ul>
    <fieldset class="attachment-tab-content active">
      <%= render 'requirements/renters_requirements' %>
    </fieldset>
    <fieldset class="attachment-tab-content">
      <%= render 'requirements/carowners_requirements' %>
    </fieldset>
    <fieldset class="attachment-tab-content">
      <%= render 'requirements/drivers_requirements' %>
    </fieldset>
    <footer></footer>
</section>

<style>
	 /* Style the list */
ul.attachment-tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.attachment-tab li {float: left;}

/* Style the links inside the list items */
ul.attachment-tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.attachment-tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.attachment-tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
fieldset.attachment-tab-content {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

fieldset.attachment-tab-content:not(.active) {
    display: none;
}

fieldset.attachment-tab-content input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    display: none;
    overflow: hidden;
}

.upload-attachment {
  border: dashed;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center
}
</style>

<script>
  $(document).ready(function() {
    $("ul.attachment-tab a").click(function(e) {
        e.preventDefault();
        $(this).parent().siblings().find('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $("ul.attachment-tab a").index(this);
        $("fieldset.attachment-tab-content.active").removeClass("active");
        $("fieldset.attachment-tab-content").eq(index).addClass("active");
    });
  });
</script>