$('#edit_profile_link').hide();
$('.toggle-form').hide().after('<%= j render("form") %>');
$('.btn_cancel').on('click', function(e) {
 	$('#edit_profile_link').show();
 	$('.toggle-form').show();
 	$(this.form).remove();
 	e.preventDefault();
});