<h2 class="page-title">Profile</h2>

<div class="profile-contents">
  <div class="col-sm-12 col-md-8 col-lg-9 p0">
  
    <%= render "profiles/block_general_info" %>
    <%= render "requirements/block_requirements" %>
    <%= render "profiles/block_rides_history" %>

  </div>

  <div class="col-sm-12 col-md-4 col-lg-3 pr0">
    
    <%= render "profiles/block_notice" %> 

  </div>
</div>

<!-- <script>
  $(document).ready(function() {
    $("div.profiles-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.profiles-tab>div.profiles-tab-content").removeClass("active");
        $("div.profiles-tab>div.profiles-tab-content").eq(index).addClass("active");
    });
  });
</script> -->




