<section class="personal_info">
  <header>
    <h3 class="block-header">General Information</h3>
    <%= link_to 'Edit', "/users/profile"+"/#{current_user.id}"+"/edit", class: 'edit-btn', id: 'edit_profile_link', remote: true %>
  </header>

  <div class="toggle-form">
    <div class="form-group">
      <label class="">Address</label>
      <span class=""><%= current_user.profile.address %></span>
    </div>
    <div class="form-group">
      <label class="">Birthdate</label>
      <% if current_user.profile.date_of_birth? %>
        <span> <%= current_user.profile.date_of_birth.strftime("%B %e, %Y") %> </span>
      <% else %>
        <span>Please set your Birthdate.</span>
      <% end %>
    </div>
    <div class="form-group">
      <label class="">Contact Number</label>
      <span class=""><%= current_user.profile.phone_number %></span>
    </div>
    <div class="form-group">
      <label class="">Email</label>
      <span class=""><%= current_user.email %></span>
    </div>
    <div class="form-group">
      <label class="">Referral Code</label>
      <span class=""><%= current_user.profile.referral_code %></span>
    </div>
  </div>
</section>

