@media (max-width: 600px) {
	.profiles {
		.page-title {
			padding-left: 0;
		}

		.content-2col {
			display: block;
		}

		.profile-general-info {
			.content-2col {
				.cont-col-left {
					float: none;
					max-width: none;
				}
			}
		}

		.profile-pic {
			left: 50%;
			margin-left: -75px;
			top: -160px;
		}

		.user-name {

		}
	}

}