<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'sky-form', novalidate: 'novalidate'}) do |f| %>
  
  <header>Sign Up</header>

  <%= devise_error_messages! %>

  <%= f.fields_for(:user) do |p| %>
  <fieldset>

    <div class="pl0 col-sm-12 col-md-6">
      <label class="input">
        <%= p.text_field :first_name, :class => 'f', :placeholder => 'First Name', autofocus: true %>
      </label>
    </div>
    <div class="pr0 col-sm-12 col-md-6">
      <label class="input">
        <%= p.text_field :last_name, :class => 'f', :placeholder => 'Last Name' %>
      </label>
    </div>

    <div class="p0 col-sm-12">
      <label class="select">
        <%= p.select :gender, options_for_select([['Gender',''], ['Male','Male'], ['Female', 'Female']], :disabled => "", :selected => "") %>
        <i></i>
      </label>
    </div>

  <% end %>

    <div class="clear">
      <label class="input">
        <i class="icon-append fa fa-envelope"></i>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email address' %>
        <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
      </label>
    </div>

    <div>
      <label class="input">
        <i class="icon-append fa fa-lock"></i>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
        <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
      </label>
    </div>

    <div>
      <label class="input">
        <i class="icon-append fa fa-lock"></i>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm password' %>
        <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
      </label>
    </div>

    <div>
      <label class="checkbox"><input type="checkbox" name="subscription" id="subscription"><i></i>I want to receive news and  special offers</label>
      <label class="checkbox"><input type="checkbox" name="terms" id="terms"><i></i>I agree with the Terms and Conditions</label>
    </div>
  </fieldset>

  <footer>
    <%= f.submit "Join" %>
  </footer>
<% end %>


<div id="leftTop"></div>
<div id="rightBottom"></div>
<script>
  $(function(){
    $(".page-body").addClass("arena")
  });
</script>
