#page-header {

	.social-block {
		.max-w {
			padding: 0;
		}
	}

	.header-block {
		//padding: 0 $gap-px;

		.max-w {
			padding: 0;
		}

		.beeparide-logo {
			margin-left: $gap-px;
		}
	}

	.header-nav {

		ul {
			//padding-top: 68px;
			//position: relative;
		}

		li {
			//display: none;
		}
		.beep-login,
		.nav-dropdown {
			margin-right: $gap-px;
		}
	}

}
