<section class="profile-requirements">

  <header>
    <h3 class="block-header">Requirements Information</h3>
  </header>

  <div class="container-fluid p0">

    <div class="col-sm-12 col-md-6">
      <h3>For Renter</h3>
      <ul class="renter-requirements">
        <li class="req req-ok"> <i data-toggle="tooltip" data-placement="top" title="This requirement has been Verified."></i> Government ID</li>
        <li class="req req-check"> <i data-toggle="tooltip" data-placement="top" title="This requirement is for verification."></i> Passport</li>
        <li class="req req-no"> <i data-toggle="tooltip" data-placement="top" title="You haven't submitted this requirement yet."></i> Latest Billing Statement</li>
        <li class="req req-no"> <i data-toggle="tooltip" data-placement="top" title="You haven't submitted this requirement yet."></i> Driver's License</li>
      </ul>

      <%= render "requirements/renters_requirements" %>
    </div>

    <div class="col-sm-12 col-md-6">
      <h3>For Owner</h3>
      <ul class="owner-requirements">
        <li class="req req-no"> <i data-toggle="tooltip" data-placement="top" title="You haven't submitted this requirement yet."></i> ORCR</li>
        <li class="req req-no"> <i data-toggle="tooltip" data-placement="top" title="You haven't submitted this requirement yet."></i> Latest Insurance Policy</li>
        <li class="req req-no"> <i data-toggle="tooltip" data-placement="top" title="You haven't submitted this requirement yet."></i> TNVS PA</li>
        <li class="req req-no"> <i data-toggle="tooltip" data-placement="top" title="You haven't submitted this requirement yet."></i> TIN</li>
      </ul>

      <%= render "requirements/carowners_requirements" %>
    </div>

    <footer class="form-actions">
      <button class="btn add-req-btn">Add Requirements</button>
      <button class="btn submit-req">Submit Requirements</button>
      <button class="btn btn_cancel">Cancel</button>
    </footer>

  </div>

  <footer>
    
  </footer>

</section>