<div class="req-add">

	<div class="form-group">
		<label class="label col">ORCR</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[orcr]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>

	<div class="form-group">
	  <label class="label col">Latest Insurance Policy</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[insurance]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>
	<div class="form-group">
	  <label class="label col">TNVS PA</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[tnvs]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>
	<div class="form-group">
	  <label class="label col">TIN</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[tin]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>

</div>
