<div class="row">
  <label class="label col">Driver's License</label>
	<%= form_tag user_attachments_path, method: :post, multipart: true do %>
		<label class="upload-attachment">
			<i class="fa fa-plus center"></i>
			<%= file_field_tag 'attachment[license]', onchange: 'this.form.submit();' %>
		</label>
	<% end %>
</div>
<div class="row">
  <label class="label col">NBI Clearance</label>
	<%= form_tag user_attachments_path, method: :post, multipart: true do %>
		<label class="upload-attachment">
			<i class="fa fa-plus center"></i>
			<%= file_field_tag 'attachment[nbi_clearance]', onchange: 'this.form.submit();' %>
		</label>
	<% end %>
</div>
<div class="row">
  <label class="label col">Police Clearance</label>
	<%= form_tag user_attachments_path, method: :post, multipart: true do %>
		<label class="upload-attachment">
			<i class="fa fa-plus center"></i>
			<%= file_field_tag 'attachment[police_clearance]', onchange: 'this.form.submit();' %>
		</label>
	<% end %>
</div>
<div class="row">
  <label class="label col">Medical Certificate</label>
	<%= form_tag user_attachments_path, method: :post, multipart: true do %>
		<label class="upload-attachment">
			<i class="fa fa-plus center"></i>
			<%= file_field_tag 'attachment[med_cert]', onchange: 'this.form.submit();' %>
		</label>
	<% end %>
</div>
<div class="row">
  <label class="label col">TIN</label>
	<%= form_tag user_attachments_path, method: :post, multipart: true do %>
		<label class="upload-attachment">
			<i class="fa fa-plus center"></i>
			<%= file_field_tag 'attachment[tin]', onchange: 'this.form.submit();' %>
		</label>
	<% end %>
</div>