<div class="req-add">	

	<div class="form-group">
	  <label class="label col">Government Id</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[gov_id]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>
	<div class="form-group">
	  <label class="label col">Passport</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[passport]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>
	<div class="form-group">
	  <label class="label col">Latest Bill</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[billing]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>
	<div class="form-group">
	  <label class="label col">Driver's License</label>
		<%= form_tag user_attachments_path, method: :post, multipart: true do %>
			<%= file_field_tag 'attachment[license]', onchange: 'this.form.submit();' %>
		<% end %>
	</div>

</div>