// *          Forms           * //
// *                          * //
.form-group {

	label {
		color: $primary;
		font: 700 11px 'Raleway', sans-serif;
		margin-bottom: 2px;
		min-width: 100%;
		text-transform: uppercase;

		&:after {
			display: none;
		}

	}
	span {
		color: $text-subtle;
		font: 400 14px 'Open Sans', Helvetica, Arial, sans-serif;
		min-width: 100%;
	}
	select,
	input { 
		width: 100%;
	}
}