//-----------------------------------------------------------------------------
// Animation Mixins
//-----------------------------------------------------------------------------

//colors anim :G
  @mixin anim-text-color($color, $time: null) {

  	@if ($time) {
      -webkit-transition: $color $time;
     	 -moz-transition: $color $time;
      			transition: $color $time;
  	} @else {
      -webkit-transition: $color 0.5s;
     	 -moz-transition: $color 0.5s;
      			transition: $color 0.5s;
  	}

     &:hover {
      	color: $color;
     }
  }

//main menu image anim :S
  @mixin anim-bgc($time: null) {

  	@if ($time) {
      -webkit-transition: background $time;
     	 -moz-transition: background $time;
      			transition: background $time;

  	} @else {
      -webkit-transition: background 0.5s;
     	 -moz-transition: background 0.5s;
      			transition: background 0.5s;
  	}
    -webkit-backface-visibility: hidden;
  }

  @mixin anim-border($time: null) {

    @if ($time) {
      -webkit-transition: border $time;
       -moz-transition: border $time;
            transition: border $time;

    } @else {
      -webkit-transition: border 0.5s;
       -moz-transition: border 0.5s;
            transition: border 0.5s;
    }
    -webkit-backface-visibility: hidden;
  }

// JOIN US button Animation
   // Code to call in CSS
     // animation: colorchange 50s;
     // -webkit-animation: colorchange 50s; 
  @keyframes colorchange
  {
    0%   {background: $primary-light;}
    25%   {background: $primary;}
    50%  {background: $primary-dark;}
    75%   {background: $primary;}
    100% {background: $primary-light;}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: $primary-light;}
    25%   {background: $primary;}
    50%  {background: $primary-dark;}
    75%   {background: $primary;}
    100% {background: $primary-light;}
  }