//-----------------------------------------------------------------------------
// Animation Mixins using keyframes
//-----------------------------------------------------------------------------

@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}