//-----------------------------------------------------------------------------
// App Mixins
//-----------------------------------------------------------------------------

// Box Shadows
@mixin add-shadow($shadow: null) {

  @if ($shadow != "bottom") {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0, $shadow);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0, $shadow);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0, $shadow);
  } @else if $shadow == "bottom" {
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.11);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.11);
  } @else {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.05);
  }
}

@mixin add-text-shadow($shadow: null) {

  @if ($shadow) {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, $shadow);
  } @else {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }
}

//Big H2 Titles
@mixin big-title() {
  font: 400 22px 'Montserrat';
  text-align: center;
  text-transform: uppercase;
}

//Ellipsis
@mixin ellipsis($width) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}

@mixin social-icons() {
  li {
    @include anim-bgc();
  }
  a {
    display: inline-block;
  }
  .social-twitter {
    background: url($ic_twitter) left center no-repeat;
    background-size: contain;
  }
  .social-facebook {
    background: url($ic_facebook) left center no-repeat;
    background-size: contain;
  }
  .social-group {
    background: url($ic_group) left center no-repeat;
    background-size: contain;
  }
  .social-messenger {
    background: url($ic_messenger) left center no-repeat;
    background-size: contain;
  }
}