<nav class="social-nav">
	<ul>
		<li><a href="https://twitter.com/beeparide" target="_blank" class="social-twitter"> Follow Us! </a></li>
		<li><a href="http://facebook.com/beeparide" target="_blank" class="social-facebook"> Join the Community! </a></li>
		<li><a href="http://facebook.com/groups/beeparidegroup" target="_blank" class="social-group"> Join the Community! </a></li>
		<li><a href="http://m.me/beeparide" target="_blank" class="social-messenger"> Chat with Us! </a></li>
	</ul>          
</nav>