<div class="parallax-window p7" data-parallax="scroll" >
  <section class="max-w"> 
  <div class="home-section">
  
    <div class="col-sm-12 col-lg-4">

      <h3>Like Us on Facebook</h3>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>

      <div class="fb-page" data-href="https://www.facebook.com/BeepaRide/" data-tabs="timeline" data-height="435" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BeepaRide/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BeepaRide/">Beep a Ride</a></blockquote></div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <h3>Social</h3>
    </div>

    <div class="col-sm-12 col-lg-4">
      <h3>Contact Information</h3>
      <p><b> Quezon City, Philippines </b></p> 
      <p><b> Book: m.me/beeparide </b></p> 
      <p> +63 917 523 3859 </p> 
      <p> Hours: 24/7 </p> 
    </div>

  </div>
  </section>
</div>