<div class="parallax-window p4" data-parallax="scroll" >
  <section class="max-w"> 
  <div class="sec sec4">

    <h2>Download Beep a Ride</h2>

    <div class="beep-now col-sm-4">

    </div>

  </div>
  </section>
</div>