<div class="parallax-window p1" data-parallax="scroll" data-image-src="">
  <section class="max-w v-centered"> 
  <div class="sec sec1">

    <% if !user_signed_in? %>
    
      <div class="col-sm-12 col-md-6 pl0">
        <h2 class="blurb">Rent any vehicle by the hour, day, or week.</h2>
        <p class="blurb">Everyone wants access to a car. But you shouldn't have to own one.</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="beep-join">
          <%# link_to "Get Updated", "http://facebook.com/beeparide", :target => "_blank", class: 'subscribe-beep'  %>
          <%= button_to 'JOIN NOW', new_user_registration_path, method: 'get', class: 'join-beep' %>
        </div>
      </div>
    <% else %>
      <%= render :partial => "search_form" %>
    <% end %>

  </div>
  </section>
</div>