<div class="parallax-window p5" data-parallax="scroll" >
  <section class="max-w"> 
  <div class="sec sec5">

    <h2>Our Beep Partners</h2>

  	<div class="swiper-container">
  		<ul class="swiper-wrapper">
  			<li class="swiper-slide"> <a href="http://www.heykuya.com"> <%= image_tag("partners/HeyKuya-Logo.png") %> </a> </li>
  			<li class="swiper-slide"> <a href="http://app.quickreach.co"> <%= image_tag("partners/quickreach.jpg") %> </a> </li>
  			<li class="swiper-slide"> <a href="https://www.facebook.com/pg/traveletz/"> <%= image_tag("partners/traveletz.png") %> </a> </li>
  			<li class="swiper-slide"> <a href="http://startupph.org/"> <%= image_tag("partners/startupphorg-1.png") %> </a> </li>
  			<li class="swiper-slide"> <a href="http://psia.org.ph/"> <%= image_tag("partners/psia.png") %> </a> </li>
  			<li class="swiper-slide"> <a href="http://www.spring.ph/"> <%= image_tag("partners/springphlogo.jpg") %> </a> </li>
  		</ul>
  	</div>

  </div>
  </section>
</div>