<div class="parallax-window p3 p3-mobile" data-parallax="scroll" >
  <section class="max-w"> 
  <div class="sec sec3">

		<h2>How to Beep a Ride?</h2>

  	<div class="col-sm-12">
  		<div class="how-images how-images-1">
  			<div class="how-phone how-phone-1"></div>
  		</div>
      <div class="how-images how-images-2">
        <div class="how-phone how-phone-2"></div>
      </div>
      <div class="how-images how-images-3">
        <div class="how-phone how-phone-3"></div>
      </div>
      <div class="how-images how-images-4">
        <div class="how-phone how-phone-4"></div>
      </div>
    </div>
    <div class="col-sm-12 p0">
    	<div class="how-steps">
    		<ul>
    			<li>
    				<span class="step-num active">1</span>
    				<span class="step-title">JOIN</span>
    				<p class="step-note">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</li>
    			<li>
    				<span class="step-num">2</span>
    				<span class="step-title">BOOK</span>
    				<p class="step-note">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi..</p>
    			</li>
    			<li>
    				<span class="step-num">3</span>
    				<span class="step-title">UNLOCK</span>
    				<p class="step-note">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</li>
    			<li>
    				<span class="step-num">4</span>
    				<span class="step-title">DRIVE</span>
    				<p class="step-note">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</li>
    		</ul>
    	</div>
    </div>
    
  </div>
  </section>
</div>