<div class="parallax-window p2" data-parallax="scroll" >
  <section class="max-w"> 
  <div class="sec sec2">

  	<h2>What is Car Sharing</h2>
    <div class="col-sm-12 col-md-6">

    </div>

  </div>
  </section>
</div>