<div class="col-sm-12 col-md-5 col-lg-4 search-beep">

  <form>
    <div class="col-sm-12 p0">
      <select>
        <option value="">Type of Service</option>
        <option value="rent">Rent</option>
        <option value="share">Share</option>
      </select>
    </div>
    <div class="col-sm-12 p0">
      <select>
        <option value="">Type of Vehicle</option>
        <option value="sedan">Sedan</option>
        <option value="fourxfour">4 x 4</option>
        <option value="truck">Truck</option>
      </select>
    </div>
    <div class="col-sm-12 p0">
      <select>
        <option value="">Driver Option</option>
        <option value="rent">With Driver</option>
        <option value="share">Without Driver</option>
      </select>
    </div>
    <div class="col-sm-6 pl0">
      <input type="text" class="datepicker" placeholder="Departure">
    </div>
    <div class="col-sm-6 pr0">
      <input type="text" class="datepicker" placeholder="Return">
    </div>
    <div class="col-sm-12 p0 search-cont">
      <input type="submit" value="Beep a Ride!">
    </div>
  </form>

</div>