<%= render 'layouts/layoutHead' %>

<%# Parallax Blocks %>
<%= render 'welcome/block1' %>
<%= render 'welcome/block2' %>
<%= render 'welcome/block3' %>  <%= render 'welcome/block3_mobile' %>
<%= render 'welcome/block4' %>
<%= render 'welcome/block5' %>
<%= render 'welcome/block6' %>

<div class="page-content">

</div>

<%= javascript_include_tag "parallax.min" %>
<%= javascript_include_tag "swiper.min" %>
<%= render 'layouts/layoutFoot' %>