.welcome {

	.parallax-window {
		.sec {
			h2 {
				font: 400 26px 'Raleway', sans-serif; 
				margin-bottom: 20px;
    		padding-top: 20px;
			}
		}
	}
 
	.p1 {

		h2.blurb {
			font: 600 36px "Raleway";
			padding-top: 70px;
			width: auto;
		}
		p.blurb {
			width: auto;
		}
	}
	.p3 {
		display: none;
	}
	.p3-mobile {
		display: block;
	}
	.p5 {
		max-height: 190px;
	}
	.p6 {
		height: 900px;
    max-height: 900px;
	}
}

// Logged In
.welcome.member {
	.p1 {
		section {
			&:before {
				display: none;
			}
		}
	}
	.search-beep {
		select {
			width: 100%;
		}

		.pl0 {
			text-align: left;
			
			.datepicker {
				width: 96%;
			}
		}
		.pr0 {
			text-align: right;

			.datepicker {
				width: 96%;
			}
		}
		
	}
}