<%= form_for([@car, @car.reservations.new]) do |f| %>

	<div class="row">
		<div class="col-md-12 price_tag">
			<span>$<%= @car.listing_detail.cost_city_driving %></span>
			<span class="pull-right">Per Night</span>
		</div>
	</div>

  <div class="row">
		<div class="col-md-6">
			<label>From</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Date', class: 'form-control' %>	
		</div>
		<div class="col-md-6">
			<label>To</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'End Date', class: 'form-control', disabled: 'true' %>	
		</div>
	</div>

  <%= f.hidden_field :car_id, value: @car.id %>
  <%= f.hidden_field :price, value: @car.listing_detail.cost_city_driving %>
	<%= f.hidden_field :total, id: 'reservation_total' %>

  <h4><span id="message"></span></h4>

	<div id="preview" style="display: none">
		<table class="reservation-table" >
			<tbody>
				<tr>
					<td>Day(s)</td>
					<td><span id="reservation_days"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td>$<span id="reservation_sum"></span></td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>

	<%= f.submit "Book Now", id: "btn_book", class: "btn btn-primary wide", disabled: 'true'%>
<% end %>

<script>
	function unavailable(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];
	}

	$(function() {
    unavailableDates = [];

		$.ajax({
			url: '/preload',
			data: {'car_id': <%= @car.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data, function(arrID, arrValue) {
					for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
						unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					}
				});

				$('#reservation_start_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#reservation_end_date').datepicker("option", "minDate", selected);
						$('#reservation_end_date').attr('disabled', false);

						var start_date = $(this).datepicker('getDate');
						var end_date = $('#reservation_end_date').datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'car_id': <%= @car.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {

								if (data.conflict) {

									$('#message').text("This date range is not available.");
									$('#preview').hide();
									$('#btn_book').attr('disabled', true);

								} else {

									$('#preview').show();
									$('#btn_book').attr('disabled', false);

									var total = days * <%= @car.listing_detail.cost_city_driving %>
									$('#reservation_days').text(days);
									$('#reservation_sum').text(total);
									$('#reservation_total').val(total);
								}
							}
						});
					}
				});

				$('#reservation_end_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#reservation_start_date').datepicker("option", "maxDate", selected);

						var start_date = $('#reservation_start_date').datepicker('getDate');
						var end_date = $(this).datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'car_id': <%= @car.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {

								if (data.conflict) {
									$('#message').text("This date range is not available.");
									$('#preview').hide();
									$('#btn_book').attr('disabled', true);
								} else {
									$('#preview').show();
									$('#btn_book').attr('disabled', false);
								  
								  var total = days * <%= @car.listing_detail.cost_city_driving %>
									
									$('#reservation_days').text(days);
									$('#reservation_sum').text(total);
									$('#reservation_total').val(total);
								}
							}
						});
					}
				});
			}
		});
	});
</script>

<style>
	.reservation-table td {
	  width: 100%;
	  border: 1px solid #dce0e0;
	  padding: 10px;
	}

	.wide {
	  width: 100%;
	}

	.price_tag {
	  background-color: #606567;
	  color: #fff;
	  font-size: 20px;
	  padding: 10px;
	  margin-bottom: 10px;
	}
</style>