.cars {

	// Cars : New
	.car-new {
		padding: $gap-large-px;

		// Process Block
		.process-block {
			margin-top: $gap-large-px * 2;

			.detail-title {
				background: $primary-light;
				border-left: 1px solid $primary;
				color: white;
				font: 400 14px 'Raleway', sans-serif;
				padding: $gap;
				text-align: center;

				&:first-child {
					//border-left: none;
				}

				&.active {
					background: $primary;
					color: white;
				}
				&.done {
					background: $primary-dark;
					color: white;
				}
			}
		}

		form {
			border: 1px solid $border-color;
			border-top: none;

			.to-next-block {

			}
		}

		// New Car Form
		.vehicle-tab {
			#photos {
				clear: both;
			}
		}
		.operator-tab {
			display: none;
		}
		.payment-tab {
			display: none;
		}
	}

	.car-models {
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		clear: both;
		padding: $gap-large-px;
		text-align: center;

		.car-model-pic {
			background: url($car-model-default) center no-repeat;
			background-size: contain !important;
			height: 200px;
			margin: 0 auto;
			width: 300px;

			&.auv {
				background: url($car-model-auv) center no-repeat;
			}
			&.hatchback {
				background: url($car-model-hatchback) center no-repeat;
			}
			&.sedan {
				background: url($car-model-sedan) center no-repeat;
			}
			&.suv {
				background: url($car-model-suv) center no-repeat;
			}
		}
	}

	// Cars : Listing
	.car-listing {
		padding: $gap-large-px;
		
		.car-unit {
			border: 1px solid $border-color;
			display: inline-block;
			margin-right: $gap-px;
			margin-bottom: $gap-px;
			padding: $gap-px;
			text-align: center;
			height: 200px;
			width: 250px;

			&:hover {
				background: lighten($primary-light, 35);
				border: 1px solid $primary;
				box-shadow: 0 0 5px rgba(149, 117, 205, .75); 
			}

			.car-avatar {
				background: url($car-model-default) center no-repeat;
				background-size: contain;
				display: block;
				height: 100px;
				width: 100%; 
			}

			.car-name {
				font: normal 15px "Open Sans", Helvetica, Arial, sans-serif;
				margin: $gap-half-px auto $gap-large-px;
				text-align: center;
			}
		}
	}

	// Cars : Edit
	.car-edit {
		padding: $gap-large-px;

		.vehicle-tab,
		.operator-tab, 
		.payment-tab {
			display: inline-block;
			border-bottom: 1px solid $border-color;
			margin-bottom: $gap-px;
			padding: $gap-px 0;
		}
		.payment-tab {
			border-bottom: none;
		}


		.car-model {
			display: none;
		}
		.to-next-block {
			display: none;
		}
		.btn-back {
			display: none;
		}

		.form-actions.hide {
			display: block;
		}
	}

	// Cars : Show
	.car-show {
		padding: $gap-large-px;

		.vehicle-tab,
		.operator-tab,
		.payment-tab {
			display: block;
			border-bottom: 1px solid $border-color;
			margin-bottom: $gap-px;
			overflow: hidden;
			padding: $gap-px 0;
		}
		.payment-tab { 
			border-bottom: none;
		}

		.form-group {
			min-height: 40px;

			label {
				display: block;
				margin-bottom: 2px;
			}
		}
	}

}