.sessions,
.registrations {

	.page-body {
		height: 83.3vh;
		margin: 0 auto;
		max-width: none;
		overflow: hidden;
		position: relative;

		form {
			margin: 3.5em auto;
		}
	}
}

#new_user {
	position: relative;
	z-index: 15;
}

.plasma {
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
}
.plasma-vert {
	width: 24px;
	height: 900px;
}
.plasma-horz {
	width: 900px;
	height: 24px;
}