.profiles {
	background: $bg-body2;

	.page-body {
		margin-bottom: 5em;
		overflow: hidden;
	}

	.page-title {
		padding-left: 188px;
    position: relative;
    top: $gap-half-px;
	}

	// Content Structure
	.content-2col {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;

	  .cont-col-left {

	  }

	  .cont-col-right{
	  	flex-grow: 1;
	  }
	}

	.form-group {
		label {
			&:after {
		    content: ":";
		    float: right;
		    margin: 0 $gap-px;
		  }
		}
	}

	// Sections Block 
	.profile-general-info,
	.profile-requirements,
	.profile-ride-history {
		@include border-radius(3px);
    @include add-shadow(.2);
    background: white;
    margin-bottom: $gap-large-px;
    padding: $gap-px $gap-large-px;
	}

	// Profile Picture
	.profile-pic {
		@include border-radius(50%);
		background: url($ic_missing-white) center no-repeat;
		background-color: $primary;
		background-size: 55%;
		border: 10px solid $bg-body2;
		//overflow: hidden;
		position: absolute;
		top: -50px;
		height: 150px;
		width: 150px;

		.profile-avatar {
			@include border-radius(50%);
			border: 1px solid $border-dark;
			position: relative;
			left: -1px;
			top: -1px;
			width: 132px;
			height: 132px;
		}
	}
	.user-name {
		color: $primary;
		display: block;
		font: 500 18px 'Roboto', sans-serif;
		margin-top: 100px + $gap-large-px;
		text-align: center;
		text-transform: capitalize;
	}

	// Profile Right Side
	.profile_notice {
		@include add-shadow(.2);
		@include border-radius(3px);
		background: white;
		margin-bottom: $gap-large * 1.5;
		padding: $gap-large-px;
		position: relative;
	}

	.profile_incomplete {
		padding-left: 56px;

		.profile-icon {
			background: url($ic_profile) center no-repeat;
			display: block;
			height: 32px;
			width: 32px;
			position: absolute;
			left: $gap-large-px;
			top: $gap-large-px;
		}

		h2 {
			color: $tertiary;
			margin-bottom: 2px;

			.profile-percent {
				font: 500 16px 'Roboto', sans-serif;
			}
			.profile-percent-message {
				font: 300 14px 'Roboto', sans-serif;
			}
		}
		p {
			color: $g3;
			font: 300 14px 'Roboto', sans-serif;
		}
	}

	// Profile Info 
	.profile-general-info {
		.content-2col {
			.cont-col-left {
		    max-width: 150px;
		  }
		}
	}

	// Requirements
	.profile-requirements {
		.container-fluid {
			h3 {
				border-bottom: 1px solid $border-color;
				margin-bottom: $gap-px;
				padding-bottom: $gap-px;
				text-transform: uppercase;
			}

			.req {
				margin-bottom: $gap-px;
				min-height: 28px;
    		padding-top: $gap-half-px;
				padding-left: ($gap-large-px * 2.5);
				position: relative;

				i {
					background: url($ic_req) 0 2px no-repeat; 
					display: block;
    			cursor: help;
					height: 28px;
					left: 0;
					position: absolute;
					top: 0;
					width: 28px;
				}
			}
			.req-no {
				i {
					//background: url($ic_req) 0 2px no-repeat; 
				}
			}
			.req-check {
				i {
					background: url($ic_req-check) 0 2px no-repeat;
				}
			}
			.req-ok {
				i {
					background: url($ic_req-ok) 0 2px no-repeat;
				}
			}
		}

		.submit-req {
			margin-right: $gap-half-px;
		}

		.req-add,
		.submit-req,
		.btn_cancel {
			display: none;
		}
	}

	// Rides History


}