.welcome {
	#page-header {
		background: rgba(0, 0, 0, 0.2);
		max-height: 105px;
		position: absolute;
		width: 100%;

		.social-block {
			background: none;
		}

		.social-nav {
			ul {
				li {
					&:hover {
						background: rgba($bg-social-block, .3);
					}
				}
			}
		}

		.beeparide-logo {
			background: url($ic_beep-logo) no-repeat;
		}

		.header-block { 
			background: rgba(255,255,255, $bg-opacity);
			box-shadow: none;
			
			ul {
				li {
					a {
						color: white;

						&:hover {
							color: white;
						}
					}
				}

				// Dropdown links
				li.nav-dropdown {
						border: none;
					&:hover {
						border: none;
					}
				}
				.btn-group {
					i {
						@include border-radius(3px);
						background: $primary;
						border: 1px solid $primary-dark;
						color: white;
						text-transform: capitalize;
					}
					a.dropdown-item {
						color: $primary;
						padding: $gap-half-px $gap-px;
					}
				}

				.beep-login {

				}
			}
		}

		// Header properties when page scrolled
		&.logoDown {
			background: white;
			box-shadow: 0px 3px 3px -3px rgba(0,0,0, 0.2); 
			height: 68px;
			position: fixed;
			top: 0;
			z-index: 10;

			.social-block {
				display: none;
			}

			.beeparide-logo {
				background: url($ic_beep-logo-2) no-repeat;
			}

			.header-block { 
				background: rgba(255,255,255, $bg-opacity);

				ul {
					li {
						a {
							color: $primary;

							&:hover {
								color: $tertiary;
							}
						}
					}
					.beep-login {
						a {
							color: white;

							&:hover {
								color: white;
							}
						}
					}
				}
			}
		}
	}

	.parallax-window {
		transition: height 999999s;

	  section {
	    height: 100vh; 
	    width: 100%;
	    min-height: 500px;
	    background: transparent;

	    &.v-centered {
	    	display: flex;               /* establish flex container */
    		align-items: center;         /* vertically center flex items */
	    }
	  }

	  .sec {
	  	width: 100%;

	  	h2 {
	  		color: $primary; 
	  		font: 400 40px 'Raleway', sans-serif;
	  		margin-bottom: 50px;
	  		padding-top: 50px;
	  		text-align: center;
	  	}
	  }
	}

	.p1 {
		.blurb {
			color: white;
			text-shadow: 1px 1px 2px black;
			width: 600px;
		}
		h2.blurb {
			color: white;
			font: 600 54px "Raleway";
			margin-bottom: $gap-half;
			text-align: left;
			text-transform: uppercase;
		}
		p.blurb {
			font: 300 22px "Raleway";
		}

		.beep-join {
			.button_to {
				margin-top: 20%;
				text-align: center;

				.join-beep {
					animation: colorchange 6s linear infinite;
     			-webkit-animation: colorchange 6s linear infinite; 

		      //background-color: $primary;
		      border: 2px solid transparent;
		      padding: $gap-large;
		      width: 180px;

		      &:hover {
		        @include anim-border();
		        @include anim-bgc();
		        background-color: rgba($primary, .85);
		        border: 2px solid $primary-light;
		      }
		    }
			}
		}
	}

	.p2 {
		border-bottom: 1px solid $border-color;
	}
	.p3 {
		border-bottom: 1px solid $border-color;

		.how-phone {
			&.how-phone-1,
			&.how-phone-2 {
				background: url($how-phone-1) center no-repeat;
				background-size: contain;
				height: 75vh;
			}
		}
		
		.how-images {
			background-size: contain;
			display: none;
			position: relative;
			overflow: hidden; 

			&.how-images-1 {
				background: url($how_image-1) center no-repeat;
				background-size: contain;
				display: block;
				height: 75vh;
			}
			&.how-images-2 {
				background: url($how_image-2) center no-repeat;
				background-size: contain;
				height: 75vh;
			}
			&.how-images-3 {
				background: url($how_image-3) center no-repeat;
				background-size: contain;
				height: 75vh;
			}
			&.how-images-4 {
				background: url($how_image-4) center no-repeat;
				background-size: contain;
				height: 75vh;
			}
		}
		.how-steps {
			padding-left: 80px;
			position: relative;

			li {
				position: relative;
			}

			.step-num {
				@include border-radius(50%);
				background: $primary-light;
				border: 5px solid $primary-light;
				color: white;
				cursor: pointer;
				display: block;
				font: 300 30px 'Roboto', sans-serif;
				padding-top: 2px;
				position: absolute;
				left: -80px;
				top: 0;
				text-align: center;
				height: 50px;
				width: 50px;

				&.active {
					background: $primary !important;
					
					&:hover {
						border: 5px solid $primary-light !important;
					}
				}
				&:hover {
					@include anim-bgc();
					background: $primary;
					border: 5px solid $primary;
				}
			}
			.step-title {
				color: $primary;
				display: block;
				font: 300 30px 'Raleway', sans-serif;
				padding-top: $gap-half-px;
				margin-bottom: $gap-half-px;
			}
			.step-note {
				font: 300 16px 'Roboto', sans-serif;
			}
		}
	}
	.p3-mobile {
		background: white;
		border-bottom: 1px solid $border-color;
		display: none;


		.how-phone {
			&.how-phone-1,
			&.how-phone-2 {
				background: url($how-phone-1) center no-repeat;
				background-size: contain;
				height: 25vh;
			}
		}
		
		.how-images {
			background-size: contain;
			display: none;
			position: relative;
			overflow: hidden; 

			&.how-images-1 {
				background: url($how_image-1) center no-repeat;
				background-size: contain;
				display: block;
				height: 25vh;
			}
			&.how-images-2 {
				background: url($how_image-2) center no-repeat;
				background-size: contain;
				height: 25vh;
			}
		}
		.how-steps {
			padding-left: 40px;
			position: relative;

			li {
				position: relative;
			}

			.step-num {
				@include border-radius(50%);
				background: $primary-light;
				border: 2px solid $primary-light;
				color: white;
				cursor: pointer;
				display: block;
				font: 300 17px 'Roboto', sans-serif;
				padding-top: 2px;
				position: absolute;
				left: -40px;
				top: 2px;
				text-align: center;
				height: 30px;
				width: 30px;

				&.active {
					background: $primary !important;
					
					&:hover {
						border: 2px solid $primary-light !important;
					}
				}
				&:hover {
					@include anim-bgc();
					background: $primary;
					border: 2px solid $primary;
				}
			}
			.step-title {
				color: $primary;
				display: block;
				font: 500 17px 'Raleway', sans-serif;
				padding-top: $gap-half-px;
				margin-bottom: $gap-half-px;
			}
			.step-note {
				font: 300 13px 'Roboto', sans-serif;
			}
		}
	}
	.p4 {
		border-bottom: 1px solid $border-color;

	}
	.p5 {
		max-height: 330px;
		overflow: hidden;

		.swiper-container { 
			height: auto;
		}

	}
	.p6 {
		background: $g1;
		max-height: 400px;
		overflow: hidden;

		.sec6 {
			padding: ($gap-large-px * 3.5) 0; 

			> div {
				margin-bottom: $gap-large-px * 2;
			}
		}
		.swiper-container { 
			height: auto;
		}

		h3 {
			border-bottom: 1px solid $g3;
			color: white;
			font: 600 13.5px 'Open Sans', Helvetica, Arial, sans-serif;
			margin-bottom: $gap-large-px;
			padding-bottom: $gap-large-px;
			text-transform: uppercase;
		}

		.sec-fb {

		}
		.sec-social {
			li {
				border: none;
				display: block;
				margin-bottom: $gap-large-px;
				text-align: left;

				&:hover {
					background: $primary;
				}

				a {
					color: white;
					text-indent: 45px;
				}
			}
		}
		.sec-contact {
			p {
				color: $g3;
				line-height: 2;

				b {
					color: white;
				}
			}
		}
	}
	.p7 {

	}
}

// Logged in
.welcome.member {
	.p1 {
		section {
		position: relative;

			&:before {
 			content: "";
 			//background: url($bg_search) center no-repeat;
 			background: rgba(0,0,0, .55);
 			border-right: ($gap-px * 2) solid $primary;
 			position: absolute;
 			top: 0;
 			left: -15%;
 			right: 50%;
 			bottom: 0;
 			height: 100vh;
 			z-index: 0;

// 			-webkit-clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
//     	clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    	
    	-moz-transform: skew(160deg, 0deg);
			-webkit-transform: skew(160deg, 0deg);
			-o-transform: skew(160deg, 0deg);
			-ms-transform: skew(160deg, 0deg);
			transform: skew(160deg, 0deg);

			}
		}
	}
	.search-beep {
		form {
			> div {
				margin-bottom: $gap-half-px;

				input {
					width: 100%;
				}
			}
		}
	}
}