
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'sky-form', novalidate: 'novalidate'}) do |f| %>
    <header>Login form</header>

    <fieldset>
      <div>
        <div class="row">
          <%= f.label :email, class: 'label col col-4' %>
          <div class="col col-8">
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <%= f.email_field :email, autofocus: true %>
            </label>
          </div>
        </div>
      </div>

    <div>
      <div class="row">
        <%= f.label :password, class: 'label col col-4' %>
        <div class="col col-8">
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <%= f.password_field :password, autocomplete: "off" %>
          </label>
          <div class="note"><%= link_to("Forgot password?", new_user_password_path) %></div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col col-4"></div>
          <div class="col col-8">
            <label class="checkbox"><%= f.check_box :remember_me %><i></i>Keep me logged in</label>
          </div>
        </div>
      </div>
    </fieldset>
    <footer>
      <%= f.submit "Log in" %>
    </footer>
  <% end %>


<div id="leftTop"></div>
<div id="rightBottom"></div>
<script>
  $(function(){
    $(".page-body").addClass("arena")
  });
</script>