.cars {
	.car-models {
		.car-model {
			background-size: contain;
			height: 133px;
			width: 200px;
		}
	}

	// Cars : Edit
	.car-edit {
		.vehicle-tab,
		.operator-tab,
		.payment-tab {
			display: block;
		}
	}
}