#error_explanation {
  background: $error-bg;
  border-top: 1px solid $error-border;
  border-bottom: 1px solid $error-border;
  color: $error-color;
  padding: $gap;

  h2 {
    display: none;
  }
  ul { 
    margin: 0;
  }
} 