// _button-group.scss
.btn-group, 
.btn-group-vertical {
	vertical-align: initial;
}

// _dropdown.scss
.dropdown-item {
	padding: $gap-half-px;
}

// _forms.scss
.form-group {
	margin-bottom: $gap-px;
}
.form-control {
	font: 600 13px 'Open Sans';
}

// _reboot.scss
label {
	margin-bottom: $gap-half-px; 
}