.clear {
  clear:both;
}
.half {
  margin-right: 1%;
  width: 48%;
}
.full {
  //width: 100%;
}
.hide {
  display: none;
}
.fl {
  float:left; 
}
.fr {
  float:right;
}
.p0 {
  padding-left: 0;
  padding-right: 0;
}
.pl0 {
  padding-left: 0;
}
.pr0 { 
  padding-right: 0;
}

.va-top {
  padding-top: $gap-half-px;
  vertical-align: top;
}

.broken-image {
  //background: url($bg-broken-image-patch) center no-repeat;
  //background-size: contain;
  //min-height: 100px;
  //min-width: 100px;
}

.edit-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.max-w {
  clear: both;
  margin: 0 auto;
  max-width: $max-width;
}

// Block Headers
  .block-header {
    border-bottom: 1px solid $border-color;
    font: 400 18px 'Raleway', sans-serif;
    margin-bottom: $gap-large-px;
    padding-bottom: $gap-px;
  }

// Forms
  // Field with date
  .beep-date {
    display: inline-flex;

    select {
      margin-right: $gap-half-px;
    }
  }

  .form-actions {
    margin: $gap-px 0;
    border-top: 1px solid $border-color;
    padding-top: $gap-px;
    text-align: center;

    .btn_cancel {
      background-color: $bg-cancel;

      &:hover {
        background-color: $bg-cancel-hover;
      }
    }
  }

// Bootstrap Overrides
.dropdown-toggle {
  cursor: pointer;
}