// *     Fonts      * //
// *                * //

// Raleway
	/* latin */
	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Raleway Light'), url(fonts/Raleway-Light.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}
	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Raleway'), url(fonts/Raleway.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}
	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 600;
	  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(fonts/Raleway-SemiBold.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}

// Roboto
	/* latin */
	@font-face {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Raleway-Light.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	@font-face {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Roboto'), local('Roboto-Regular'), url(fonts/Raleway-Regular.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	@font-face {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 500;
	  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Raleway-Medium.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}

// Open Sans
	/* latin */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 600;
	  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/OpenSans-Semibold.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 700;
	  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}

// Raleway
	//font-family: 'Raleway', sans-serif;
// Roboto
  //font-family: 'Roboto', sans-serif;