// *          Base          * //
// *                        * //
html { -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto; }
html, body, img, form {margin: 0px; padding: 0px; border: none; letter-spacing:normal;}
html, body {height: 100%; -webkit-font-smoothing: antialiased;}
body {background-color:$bg-body; color: $text-color; height: initial;}
body, td {font: 13px "Open Sans", Helvetica, Arial, sans-serif;}
p {padding: 0px; margin: 0px 0px $gap-half 0px;}
object {outline:none;}
fieldset {border:0;}
input,select,textarea,button {outline: none !important;}
input,select,button,textarea {outline:none;}
footer {clear: both;}

// *          Curtain           * //
// *                            * //
.curtain {
	background: $curtain;
	position: fixed;
	top: 0; bottom: 0; right: 0; left: 0;
	z-index: 100;

	&.component-call {
		background: rgba(0,0,0, .7);
	}
}

// *          Headings          * //
// *                            * //
h1 {color: $header-color; font-size: 1.031rem; padding: 0px; margin: 0px 0px $gap 0px;}
h2 {color: $header-color; font-size: 0.938rem; padding: 0px; margin: 0px 0px $gap 0px;}
h3 {color: $header-color; font-size: 0.844rem; padding: 0px; margin: 0px 0px $gap 0px;}
h4 {color: $header-color; font-size: 0.750rem; padding: 0px; margin: 0px 0px $gap 0px;}
h5 {color: $header-color; font-size: 0.688rem; padding: 0px; margin: 0px 0px $gap 0px;}

// *          Anchor          * //
// *                          * //
a {
	@include anim-text-color($primary);
	color: $primary;	
	text-decoration: none;
	-webkit-transition:all 0.4s;

	&:focus,
	&:hover {
		@include anim-text-color($tertiary);
		color: $tertiary;
		text-decoration: none;
		-webkit-transition:all 0.4s;
	}
}

a, 
label,
h1, h2, h3, h4, h5,
header, footer,
.anchor {
	// disable text select
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

header {
  position: relative;
}

// *          Input          * //
// *                         * //
label {
	//font-family: 'Montserrat' !important;
	//font-size: 11px;
	//font-weight: 600;
	//text-transform: uppercase;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input[type="submit"] {
	@include anim-bgc();
	@include border-radius(2px);
	background: $primary; 
	border: 0px;
	color : white; 
	cursor: pointer;
	display: inline-block;
	font: 600 13px 'Open Sans';
	margin-right: $gap-half-px;
	min-width: 110px; 
	padding: $gap-half-px $gap-large;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		@include anim-bgc();
		background-color: $primary-dark;
	}
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="file"],
textarea,
select {
	@include anim-bgc();
	@include border-radius(3px);
	border: 1px solid $border-input;
	background: white;
	color: $text-color;
	//display: block;
	font: 400 13px 'Open Sans', Helvetica, Arial, sans-serif;
	//width: 58%;
	padding: $gap-half-px;
	//text-transform: uppercase;

	&:hover {
		@include anim-bgc();
		border: 1px solid $primary-light;
	}
	&:focus {
	  box-shadow: 0 0 5px rgba(149, 117, 205, .75); 
	  border: 1px solid $primary-light; 
	}
}

input::-webkit-calendar-picker-indicator{
	display: none;
}
input[type="date"] {
	padding: 5px $gap-half;
}
input[type="date"]::-webkit-calendar-picker-indicator{
	display:none;
	-webkit-appearance: none;
	margin: 0;
}
input[type="date"]::-webkit-inner-spin-button {
	display: none; //<- Crashes Chrome on hover
	-webkit-appearance: none;
	margin: 0;
}
input[type="date"]::-webkit-input-placeholder { 
	visibility: hidden !important;
}


// *          Buttons          * //
// *                           * //
button {
	@include anim-bgc();
	cursor: pointer;
} 

.btn {
	@include border-radius(3px);
	@include anim-bgc();
	background-color: $primary;
	border: none;
	border-radius: 3px;
	color: white !important;
	display: inline-block;
	font: 600 13px "Open Sans", Helvetica, Arial, sans-serif;
	min-width: 110px;
	padding: $gap-half-px $gap-large-px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	&:hover,
	&:active {
		background-color: darken($primary-dark, 10); 
	}
}
.btn-primary {
	@extend .btn;
}
.btn-secondary {
	@extend .btn;
	background-color: $secondary;

	&:hover,
	&:active {
		background-color: $secondary-dark; 
	}
}
 
// *          Tables         * //
// *                         * //
table {
	margin-bottom: $gap;
	width: 100%;

	input {
		padding: 5px;
	}
}
th {
		background: $bg-th;
		border-left: 1px solid $border-color;
		border-bottom: 1px solid $bg-th;
		color: white;
		font: 600 13px "Open Sans", Helvetica, Arial, sans-serif;
		padding: 8px $gap-half;
		text-transform: capitalize;

		&:first-child {
			border-left: 1px solid $bg-th;
		}

		&:last-child {
			border-right: 1px solid $bg-th;
		}

		&.th-actions {
			text-align: center;
			width: 110px;
		}

		a {
			font-weight: bold;
		}

		label {
			font: 600 13px "Open Sans", Helvetica, Arial, sans-serif !important;
			margin: 0;
			text-transform: capitalize;
		}
	}
tr {
	&:last-child {
		td {
			border-bottom: 1px solid $border-color;
		}
	}	
}
td {
	background: white;
	border-left: 1px solid $border-color;
	border-top: 1px solid $border-color;
	padding: $gap-half;
	vertical-align: middle;

	&.td-actions {
		text-align: center;
		a {
			font-weight: 400;
			
			&:first-child {
				border-right: 1px solid $border-color;
				margin-right: $gap-half;
				padding-right: $gap;
			}
		}

		&.single {
			a {
				border: none;
			}
		}
	}

	&:first-child {
		//border-left: none;
	}

	&:last-child {
		border-right: 1px solid $border-color;
	}

	&.has-time {
		text-align: center;
		select {
			width: 35%;
		}
	}

	a {
		color: $secondary;
		text-decoration: underline;
		font-weight: bold;
	}

	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="date"],
	input[type="file"],
	input[type="file"],
	select,
	textarea,
	.input-a {
		width: 100%;
	}

	select {
		padding: 4px;
	}

	input[type="checkbox"] {
		display: block;
		margin: 10px auto;
	}

	.center-h {
		display: block;
		float: none;
		margin: 0 auto;
	}
}

// *          Forms           * //
// *                          * //
.form-group {
	max-width: 100%;
	padding: 0 $gap-px;

	label {
		font: 600 12px 'Raleway', sans-serif;
		min-width: 25%;
		text-transform: uppercase;
	}
	span {
		color: $text-subtle;
		font: 400 14px 'Open Sans', Helvetica, Arial, sans-serif;
		min-width: 70%;
	}
}


// *          Errors          * //
// *                          * //
abbr[title="required"] {
  display: none;
}

img:not([src]){ 
    border: none;
}

// Global Classes //
.fullscreen {
	height: 100vh;
}

// *          Bootstrap Overrides & Additional Classes         * //
// *                                 					            		 * //
