//  ======================  Colors  ======================  //
//  ======================          ======================  //

// tints
$violet       : #673ab7;
$violet-dark  : #512da8;
$violet-light : #9575cd;
$blue         : #40c4ff;
$green        : #1f8da6;
$red 					: #d30b37;

// gray pallete
$g1       : #141d1e;
$g2       : #313131;
$g3       : #5c5b5b;
$g4       : #eaeaea;
$g5       : #f0efef;
$subtle 	: #818389;
 	

//  ======================  Images  ======================  //
//  ======================          ======================  //
$bg_search				: "images/welcome/search-bg.png";
$ic_beep-logo     : "images/beep-a-ride-logo.png";
$ic_beep-logo-2  	: "images/beep-a-ride-logo-violet.png";
$registrations-bg : "registrations/registration-bg.jpg"; 
$ic_missing				: "images/missing.png";
$ic_missing-white	: "images/missing-white.png";

$ic_profile				: "images/elements/ic_profile.png";
$ic_req						: "images/elements/ic_requirement.png";
$ic_req-check			: "images/elements/ic_requirement-check.png";
$ic_req-ok				: "images/elements/ic_requirement-ok.png";

$ic_twitter				: "images/social-icons/tw.png";
$ic_facebook			: "images/social-icons/fb.png";
$ic_group					: "images/social-icons/ig.png";
$ic_messenger			: "images/social-icons/mg.png";

$how_phone-1			: "images/how-to-beep/phone.png";
$how_phone-2			: "images/how-to-beep/phone.png";

$how_image-1			: "images/how-to-beep/how-1.png";
$how_image-2			: "images/how-to-beep/how-2.png";
$how_image-3			: "images/how-to-beep/how-3.png";
$how_image-4			: "images/how-to-beep/how-4.png";

$car-model-default					: "images/cars/cars-default.png";
$car-model-auv							: "images/cars/cars-auv.png";
$car-model-hatchback				: "images/cars/cars-hatchback.png";
$car-model-sedan						: "images/cars/cars-sedan.png";
$car-model-suv							: "images/cars/cars-suv.png";

//  ======================  Fonts Styles  ======================  //
//  ======================                ======================  //


//  ======================  Measurements  ======================  //
//  ======================                ======================  //
$gap : 0.750em;
$gap-half : $gap / 2;
$gap-large: 1.000em; 

$gap-px 			: 12px;
$gap-half-px 	: $gap-px / 2;
$gap-large-px	: 16px;

$page-header-height : 56px;
$max-width:	1100px;

//  ======================  Screens Media  ======================  //
//  ======================                 ======================  //
$media-xs   : 320px - 1;
$media-sm   : 576px - 1;
$media-md   : 768px - 1;
$media-lg   : 1024px - 1;
$media-xl   : 1280px - 1;
$media-max  : 1366px - 1;

//  ======================  Vendor Colors  ======================  //
//  ======================                 ======================  //
$fb-color   : #4772af;
$gp-color   : #f62932;
$tw-color   : blue;


//  ======================  Theming Variables  ======================  //
//  ======================                     ======================  //

// Tint
$primary            : $violet;
$secondary          : $blue;
$tertiary           : $blue;

$primary-light      : $violet-light;
$secondary-light    : #1395ba;
$tertiary-light     : lighten($tertiary, 7);

$primary-dark       : $violet-dark;
$secondary-dark     : darken($secondary, 7);
$tertiary-dark      : darken($tertiary, 7);

// Error & Warning
$error-border       : #ffd7d7;
$error-bg           : #fff0f0;
$error-color        : #ff0000;
$warning-border     : #ee9400;
$warning-bg         : #ffa500;
$warning-color      : #ffffff;

// Background Colors
$bg-alert						: $red;
$bg-body						: #f1f3fa;
$bg-body2						: #e6e8f2;
$bg-cancel					: $subtle;
$bg-cancel-hover		: $g3;
$bg-opacity 				: .25;
$bg-social-block		: $g1;

// Table
$bg-th							: $g2;

// Border Colors
$border-color       : #e6e6e6;
$border-light       : #f1f3f9;
$border-dark      	: #d6d5d1;
$border-input				: #eeedef;

// Font Colors
$text-color					: #424348;
$text-subtle				: $subtle;
$header-color				: #363636;

// 3rd Party Colors
$fb-color           : #3d539f;
$gp-color           : #dc493c;

// Uncategorized
$curtain            : $g4;
$shadow             : #eaeaea;
