
<h2>Import Excel</h2>
Beepers Data
<%= form_tag file_import_path, method: :post, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


<% if @data %>
<h2>Archive</h2>
<table>
	<tr>
			<th>Timestamp</th>
			<th>What is your relationship to the vehicle?</th>
			<th>What driving rules are you open for with your vehicle?</th>
			<th>What delivery options do you prefer?</th>
			<th>Vehicle Nickname</th>
			<th>Location of Vehicle</th>
			<th>Location of Driver/s</th>
			<th>Type of Vehicle</th>
			<th>Capacity</th>
			<th>Make</th>
			<th>Year</th>
			<th>Model</th>
			<th>Transmission</th>
			<th>Fuel</th>
			<th>Color</th>
			<th>Mileage (for automobiles)</th>
			<th>Other features/specifications/uniqueness</th>
			<th>Payment Frequency</th>
			<th>Payment Method</th>
			<th>Cost/Price for City Driving</th>
			<th>Cost/Price for Provincial Driving</th>
			<th>Cost inclusions</th>
			<th>Additional payment specifications</th>
			<th>Additional rules/preferences/notes for the renter</th>
			<th>Car Owner's Full Name</th>
			<th>Car Owner's Email</th>
			<th>Car Owner's Contact Number</th>
			<th>Operator's Name</th>
			<th>Operator's Contact Information</th>
			<th>Additional comment/request/suggestion</th>
	</tr>
	<% @data.each do |row| %>
	<tr>
		<td><%= row["date_filed"] %></td>
		<td><%= row["attribute"] %></td>
		<td><%= row["rules"] %></td>
		<td><%= row["delivery"] %></td>
		<td><%= row["car_name"] %></td>
		<td><%= row["car_location"] %></td>
		<td><%= row["driver_location"] %></td>
		<td><%= row["vehicle_types"] %></td>
		<td><%= row["car_capacity"] %></td>
		<td><%= row["car_make"] %></td>
		<td><%= row["car_year"] %></td>
		<td><%= row["car_model"] %></td>
		<td><%= row["car_transmission"] %></td>
		<td><%= row["car_fuel"] %></td>
		<td><%= row["car_color"] %></td>
		<td><%= row["car_mileage"] %></td>
		<td><%= row["car_other_feature"] %></td>
		<td><%= row["payment_freq"] %></td>
		<td><%= row["payment_method"] %></td>
		<td><%= row["price_city"] %></td>
		<td><%= row["price_province"] %></td>
		<td><%= row["cost_inclusion"] %></td>
		<td><%= row["payment_condition"] %></td>
		<td><%= row["rules_addition"] %></td>
		<td><%= row["user_full_name"] %></td>
		<td><%= row["user_email"] %></td>
		<td><%= row["user_number"] %></td>
		<td><%= row["Operator's Name"] %></td>
		<td><%= row["Operator's Contact Information"] %></td>
		<td><%= row["user_comment"] %></td>
	</tr>
	<% end %>
</table>
<% end %>