<% if @car.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @car.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @car, :html => { multipart: true } do |f| %>

	<div>
		<div class="vehicle-tab">

			<div class="form-group col-lg-3 col-md-4 col-sm-12 vehicle-type">
				<label>Vehicle Type</label>
				<%= f.collection_select(:vehicle_type_id, VehicleType.all, :id, :description, prompt: "Select vehicle type") %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12 car-make">
				<label>Car Make</label>
				<%= f.collection_select(:car_make_id, CarMake.all, :id, :make, prompt: "Select car make") %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12 car-model">
				<label>Car Model</label>
				<%= f.grouped_collection_select(:car_model_id, CarMake.order(:make), :car_models, :make, :id, :model, 
						prompt: "Select car model", include_blank: true) %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12">
				<label>Capacity</label>
				<%= f.text_field :capacity, placeholder: "How many is the capacity?", class: "form-control" %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12">
				<label>Year</label>
				<%= f.text_field :year, placeholder: "What is year of the car?", class: "form-control" %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12">
				<label>Color</label>
				<%= f.text_field :color, placeholder: "What is the color?", class: "form-control" %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12">
				<label>Mileage</label>
				<%= f.text_field :mileage, placeholder: "What is the mileage?", class: "form-control" %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12">
				<label>Fuel Type</label>
				<%= f.collection_select(:fuel_type_id, FuelType.all, :id, :description, prompt: "Select fuel type") %>
			</div>

			<div class="form-group col-lg-3 col-md-4 col-sm-12">
				<label>Transmission Type</label>
				<%= f.collection_select(:transmission_type_id, TransmissionType.all, :id, :description, prompt: "Select transmission type") %>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">							
						<span class="btn btn-default btn-file">
						    <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
						    <%= file_field_tag "images[]", type: :file, multiple: true %>
						</span>
					</div>		
				</div>
			</div>

			<div id="photos"><%= render 'photos/list' %></div>

			<footer class="form-actions to-next-block">
				<span class="btn btn-next">Next</span>
			</footer>

		</div>
		
		<%= f.fields_for :listing_detail do |ld| %>
			<div class="operator-tab">	

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Operator Name </label>
					<%= ld.text_field :operator_name, placeholder: "Who is the operator of the car?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Operator Ci</label>
					<%= ld.text_field :operator_ci, placeholder: "Operator CI", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Vehicle Nickname</label>
					<%= ld.text_field :vehicle_nickname, placeholder: "What is the vehicle nickname?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Vehicle Relationship</label>
					<%= ld.text_field :vehicle_relationship, placeholder: "What is your vehicle relationship?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Car Location</label>
					<%= ld.text_field :vehicle_location, placeholder: "Where is location of the car?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Driver Location</label>
					<%= ld.text_field :driver_location, placeholder: "Where is the location of the driver?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Driving Rule</label>
					<%= ld.collection_select(:driving_rule_id, DrivingRule.all, :id, :description, prompt: "Select driving rule") %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Delivery Option</label>
					<%= ld.collection_select(:delivery_option_id, DeliveryOption.all, :id, :description, prompt: "Select delivery option") %>
				</div>

				<footer class="form-actions to-next-block">
					<span class="btn btn-back">Back</span>
					<span class="btn btn-next">Next</span>
				</footer>

			</div>

			<div class="payment-tab">

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Cost City Driving</label>
					<%= ld.text_field :cost_city_driving, placeholder: "Cost of city driving?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Cost Provincial Driving</label>
					<%= ld.text_field :cost_prov_driving, placeholder: "Cost of provincial driving?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Payment Frequency</label>
					<%= ld.collection_select(:payment_frequency_id, PaymentFrequency.all, :id, :description, prompt: "Select payment frequency") %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Payment Method</label>
					<%= ld.collection_select(:payment_method_id, PaymentMethod.all, :id, :description, prompt: "Select payment method") %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Cost Inclusion</label>
					<%= ld.text_field :cost_inclusion, placeholder: "What is the cost include?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Additional Rules</label>
					<%= ld.text_field :addtl_rule, placeholder: "Tell me your rules?", class: "form-control" %>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Payment Specification</label>
					<%= ld.text_field :payment_spec, placeholder: "Payment Specification", class: "form-control" %>
				</div>

				<div class="form-group col-lg-6 col-md-6 col-sm-12">
					<label>Other Features</label>
					<%= ld.text_area :other_features, rows: 5, placeholder: "Tell us the other features", class: "form-control" %>
				</div>

				<div class="form-group col-lg-6 col-md-6 col-sm-12">
					<label>Comments</label>
					<%= ld.text_area :comments, rows: 5, placeholder: "Tell about your comments", class: "form-control" %>
				</div>

				<footer class="form-actions hide">
					<span class="btn btn-back">Back</span>
					<%= f.submit "Submit", class: "btn btn-primary" %>
				</footer>
			</div>
			
		<% end %>

	</div>
<% end %>

<style>

	.btn-file {
	    position: relative;
	    overflow: hidden;
	}

	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}

	.panel-heading.preview {
	  padding: 0;
	}

	.panel-heading.preview img{  
	  width: 100%;
	}

</style>

<script>
$(function() {
	let car_models = $('#car_car_model_id').html();

	$('.car-model select').attr("disabled", "disabled");

	$('#car_car_make_id').on('change', function(){
		let sel_car_make = $('#car_car_make_id :selected').text();
    let esc_sel_car_make = sel_car_make.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g,'\\$1');
		let options = $(car_models).filter(`optgroup[label='${esc_sel_car_make}']`).html();

		if ($(this).val() > '1') {
			$('.car-model select').removeAttr("disabled");
			$('.car-model .selectric-items').show();
			$('#car_car_model_id').html(options);
			return $('#car_car_model_id').prop('selectedIndex', 0).selectric('refresh');
		} else {
			$('.car-model select').attr("disabled", "disabled");
			$('.car-model .label').text("Select Car Make First");
			$('.car-model .selectric-items').hide();
		}
	});
});
</script>
