<h2 class="page-title" align="center">Register Car</h2>

<div class="page-1col">
	<section class="car-new">

		<h3 class="block-header">Car Registration for Beep a Ride!</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

		<div class="process-block">
			<div class="detail-title col-xs-4 active"><span>Vehicle Details</span></div>
			<div class="detail-title col-xs-4 "><span>Operator Details</span></div>
			<div class="detail-title col-xs-4 "><span>Transaction Details</span></div>
		</div>

		<div class="car-models">
			<div class="car-model-pic"></div>
		</div>

		<%= render 'form' %>

	</section>
</div>
