<h2 class="page-title" align="center"><%= @car.listing_detail.vehicle_nickname %></h2>

<div class="page-1col">
	<section class="car-show">
			<div class="vehicle-tab">
				<!-- Image -->
				<div class="row">
					<div class="col-md-12" align="center">
						<%= image_tag @photos[0].image.url(), class: "img-responsive" if @photos.length > 0 %>
					</div>
				</div>
				<br>
				
				<div class="row">
					<div class="col-md-8">
					  <div class="row">
							<div class="form-group col-lg-3 col-md-4 col-sm-12 vehicle-type">
								<label>Vehicle Type</label>
								<span> <%= @car.vehicle_type.description %> </span>
							</div>

							<div class="form-group col-lg-3 col-md-4 col-sm-12">
								<label>Car Make</label>
								<span> <%= @car.car_make.make %> </span>
							</div>

							<div class="form-group col-lg-3 col-md-4 col-sm-12 car-model">
								<label>Car Model</label>
								<span> <%= @car.car_model_id %> </span>
							</div>
						</div>
	          
	          <div class="row">
							<div class="form-group col-lg-3 col-md-4 col-sm-12">
								<label>Capacity</label>
								<span> <%= @car.capacity %> </span>
							</div>

							<div class="form-group col-lg-3 col-md-4 col-sm-12">
								<label>Year</label>
								<span> <%= @car.year %> </span>
							</div>

							<div class="form-group col-lg-3 col-md-4 col-sm-12">
								<label>Color</label>
								<span> <%= @car.color %> </span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-3 col-md-4 col-sm-12">
								<label>Mileage</label>
								<span> <%= @car.mileage %> </span>
							</div>

							<div class="form-group col-lg-3 col-md-4 col-sm-12">
								<label>Fuel Type</label>
								<span> <%= @car.fuel_type.description %> </span>
							</div>

							<div class="form-group col-lg-3 col-md-4 col-sm-12">
								<label>Transmission Type</label>
								<span> <%= @car.transmission_type.description %> </span>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<!-- Reservation form -->	
						<%= render 'reservations/form' %>
					</div>
				</div>
			</div>
			

			<div class="operator-tab">	

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Operator Name </label>
					<span> <%= @car.listing_detail.operator_name %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Operator Ci</label>
					<span> <%= @car.listing_detail.operator_ci %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Vehicle Nickname</label>
					<span> <%= @car.listing_detail.vehicle_nickname %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Vehicle Relationship</label>
					<span> <%= @car.listing_detail.vehicle_relationship %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Car Location</label>
					<span> <%= @car.listing_detail.vehicle_location %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Driver Location</label>
					<span> <%= @car.listing_detail.driver_location %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Driving Rule</label>
					<span> <%= @car.listing_detail.driving_rule.description %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Delivery Option</label>
					<span> <%= @car.listing_detail.delivery_option.description %> </span>
				</div>

			</div>

			<div class="payment-tab">

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Cost City Driving</label>
					<span> <%= @car.listing_detail.cost_city_driving  %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Cost Provincial Driving</label>
					<span> <%= @car.listing_detail.cost_prov_driving %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Payment Frequency</label>
					<span> <%= @car.listing_detail.payment_frequency.description %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Payment Method</label>
					<span> <%= @car.listing_detail.payment_method.description %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Cost Inclusion</label>
					<span> <%= @car.listing_detail.cost_inclusion %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Additional Rules</label>
					<span> <%= @car.listing_detail.addtl_rule %> </span>
				</div>

				<div class="form-group col-lg-3 col-md-4 col-sm-12">
					<label>Payment Specification</label>
					<span> <%= @car.listing_detail.payment_spec %> </span>
				</div>

				<div class="form-group col-lg-6 col-md-6 col-sm-12">
					<label>Other Features</label>
					<span> <%= @car.listing_detail.other_features %> </span>
				</div>

				<div class="form-group col-lg-6 col-md-6 col-sm-12">
					<label>Comments</label>
					<span> <%= @car.listing_detail.comments %> </span>
				</div>
			</div>
			<!-- Carousel -->
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
					  
						<% if @photos %>
							<!-- Indicators -->
					    <ol class="carousel-indicators">
								<% @photos.each do |photo| %>
									<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
								<% end %>	
							</ol>				
						<% end %>     

					  <div class="carousel-inner" role="listbox">
					    <% if @photos %>				
								<% @photos.each do |photo| %>
									<div class="item <%= 'active' if photo.id == @photos[0].id %>">          
					          <%= image_tag photo.image.url() %>
					        </div>
								<% end %>	
							<% end %>
					  </div>

					  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
				</div>
			</div>

			<br/>
			<!-- Google Map -->
			<div class="row">
				<div class="col-md-12">
					
					<div id="map"></div>

					<style>
			      #map {
			        width: 100%;
			        height: 400px;
			      }
			    </style>

			    <script async defer
			      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYlf1XVtDvxNilmGJ2MMMCnG1gKFzRN5s&callback=initMap">
			    </script>

					<script>
			      function initMap() {
			        var uluru = {lat: <%= @car.listing_detail.latitude %>, lng: <%= @car.listing_detail.longitude %>};
			        var map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 14,
			          center: uluru,
			          mapTypeId: google.maps.MapTypeId.ROADMAP
			        });
			        var marker = new google.maps.Marker({
			          position: uluru,
			          title: "Beep a Ride",
			          map: map
			        });
			      }
			    </script>
				</div>
			</div>

			<!-- Close by Cars -->
			<% if @car.listing_detail.nearbys(10) %>
				<h3>Near by</h3>
					<div class="row">
						<% for nearby_car in @car.listing_detail.nearbys(10) %>
							<% if nearby_car %>
							<div class="col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading preview">
										<%= image_tag nearby_car.car.photos[0].image.url(:medium) unless nearby_car %>
									</div>
									<div class="panel-body">
										<%= link_to nearby_car.vehicle_nickname, nearby_car.car %><br>
										(<%= nearby_car.distance.round(2) %> miles away)
									</div>
								</div>
								<% end %>
							</div>
					<% end %>
				</div>
			<% end %>

			<footer class="form-actions">
				<%= link_to "Back", cars_path(), class: "btn btn-primary" %>	
			</footer>
		</div>
	</section>
</div>

<style>

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

</style>