<!DOCTYPE html>
<html>
<head>
  <title>Beep a Ride</title>
  <%= favicon_link_tag 'images/beep-a-ride-favicon.png' %>
  <%= csrf_meta_tags %>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="Beep A Ride, Car Sharing, Car Rent, Self Drive">
  <meta name="description" content="Beep A Ride">
  <meta name="subject" content="Beep A Ride <%= controller.controller_name %> ">
  <meta name="author" content="Beep A Ride, m.me/beeparide | Nerwin Hernando : nerwinc.hernando@gmail.com, Maku Diaz : makudiaz@live.com, Norvin Dumngalon: norvs.dumngalon@gmail.com, JP Punzalan : jppunzalan@gmail.com">
  <meta name="category" content="Car Drive, Self Drive, Car Sharing">

  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'app.css' %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "jquery-3.1.1.min" %>
  <%= javascript_include_tag "jquery-ui.min" %>
  <%= javascript_include_tag "tether.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "screenfull.min" %>

</head>
<body id="app-body"
  <% if(user_signed_in?) %>
     class='<%= controller.controller_name %> member'
  <% else %>
    class='<%= controller.controller_name %>'
  <% end %>
>
  <div class="app-notification"></div>
  <div class="curtain"></div>

  <header id="page-header">

    <section class="social-block">
      <div class="max-w">
        <%= render "shared/social_links" %>
      </div>
    </section>

    <section class="header-block">
      <div class="max-w">

        <%= link_to '', root_path, class: 'beeparide-logo' %>

        <nav class="header-nav">
          <ul>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Register Your Car', new_car_path, class: '' %>
              </li>
              <li class="nav-item nav-dropdown">
                <div class="btn-group">
                  <i class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if current_user.profile.first_name? %>
                      <%= current_user.profile.first_name %>
                    <% else %>
                      <span class="user-full-name"><%= current_user.profile.full_name %></span>
                    <% end %>
                  </i>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to 'My Profile', profile_path, class: 'dropdown-item' %>
                    <%= link_to 'My Car Listing', cars_path, class: 'dropdown-item' %>
                    <%= link_to 'My Transactions', '', class: 'dropdown-item' %>
                    <%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class: 'dropdown-item' %>
                  </div>
                </div>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to 'Home', root_path %>
              </li>
              <li class="nav-item">
                <%= link_to 'Join', new_user_registration_path %>
              </li>
              <li class="nav-item beep-login">
                <%= link_to 'Log In', new_user_session_path %>
              </li>
            <% end %>

          </ul>
          <!-- <form class="form-inline float-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </nav>

      </div>
    </section>
  </header>

  <%= render 'shared/message' %>
