  <div class="beep-ground container-fluid">
    <div class="max-w">
      <div class="static-links">
        <ul>
          <li>
            <%= link_to  "About Us", about_url %>
          </li>
          <li>
            <%= link_to  "Contact Us", contact_url %>
          </li>
          <li>
            <%= link_to  "Terms", terms_and_conditions_url %>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 copyright">
        Beep a Ride © 2017
      </div>
    </div>
  </div>
  
  <%= javascript_include_tag "jquery.selectric.min" %>
  <%= javascript_include_tag "beepScript" %>

</body>
</html>