<%= render :partial => "layouts/layoutHead" %>

  <div class="page-body max-w">

    <!-- 
    <% if notice %>
      <p class="app-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="app-alert"><%= alert %></p>
    <% end %> 
    -->

  	<%= yield %>	

  </div>

<%= render :partial => "layouts/layoutFoot" %>